<HTML>
  <TITLE>{{title}}</TITLE>

  <BODY>
    <H1>Credits</H1>
    <p>FPM (Github: futuraperdita) is the creator and maintainer of this fork.</p>
    <p>Nick (Github: nicl83) originally reverse engineered the data server and
      wrote the first version of OpenXiino.</p>
    <p>Dmitry Grinberg (Github: dmitrygr), the Palm OS legend, provided image
      support to Nick.</p>
    <p>Kazuho Oku (Github: kazuho) initially created Xiino and Palmscape in the
      early 00s.</p>
  </BODY>

</HTML>