<HTML>
  <TITLE>{{title}}</TITLE>

  <BODY>
    <H1>Overview</H1>
    <P>
      OpenXiino is an open-source replacement for the Xiino Data Server. The
      primary purpose of OpenXiino is to encode images in the proprietary
      "EBDIMAGE" format. It will also (unintentionally) downgrade HTTPS requests
      to HTTP, mitigating the fact that Xiino's TLS stack is at least 20 years
      old and incompatible with the modern web.
    </P>
    <H2>People</H2>
    <P>
      I created OpenXiino in my spare time as a passion project. The EBDIMAGE
      format has intrigued me for over two years, and I'm glad to finally
      understand its intricacies.
    </P>
    <P>
      I'd also like to give a shoutout to dmitrygr for pointers regarding Palm
      OS image formats and their compression, and to my many other good friends
      on the Internet for their general help and support.
    </P>
    <P>
      Finally, a big thanks to Kazuho Oku and everyone at ILINX and Mobirus for
      creating Palmscape and Xiino back in the day. Without your work, we
      wouldn't be here.
    </P>
  </BODY>

</HTML>