<HTML>
  <TITLE>{{title}}</TITLE>

  <BODY>
    <CENTER>
      <H1>{{title}}</H1>
      <P>The page you requested could not be found.</P>
      <P><A HREF="about:">Return to Home</A></P>
    </CENTER>
  </BODY>

</HTML>