<html>
  <title>{{title}}</title>
  <body>
    <h1>Page Too Large</h1>
    <p>Sorry, this page exceeds the maximum size limit of
      {{max_size}}KB that can be safely displayed on your device.</p>
    <p>Try visiting a simpler version of the page if available, or contact the
      site administrator.</p>
  </body>
</html>